.c-data-selection-pagination {
  height: 100px;
  padding: 2 * $base-whitespace;
  padding-bottom: 0;
  border-top: 2px solid $secondary-gray40;
  background-color: $primary-light;

  &-link-label {
    color: $secondary-gray60;
  }
}

.c-data-selection-pagination__controls {
  @include font-size($s-font);

  position: relative;
  height: $button-size;
  font-weight: $normal-weight;
  text-align: center;
}

.c-data-selection-pagination__input {
  width: 3rem;
  height: $button-size;
  border: 1px solid $secondary-gray20;
  outline: none;
  font-weight: $normal-weight;
  text-align: center;
  vertical-align: middle;

  &:hover,
  &:focus {
    border: 2px solid $primary-dark;
  }
}

.c-data-selection-pagination__backward {
  position: absolute;
  left: 0;
  z-index: 2;
}

.c-data-selection-pagination__go {
  position: absolute;
  right: 0;
  left: -$base-whitespace * 2;
  line-height: 1.3;
  z-index: 1;
}

.c-data-selection-pagination__forward {
  position: absolute;
  right: 0;
  z-index: 2;
}
