@use "sass:math";

$sbi-filter-gutter: 2 * $base-whitespace;
$sbi-filter-item-height: 32px;

.c-sbi-filter__category-label {
  margin-bottom: $base-whitespace;
}

.c-sbi-filter__item {
  height: $sbi-filter-item-height;
  overflow: hidden;
}

.c-sbi-filter__button {
  display: flex;
  align-items: center;

  width: calc(100% - 5px);

  &::before {
    top: -5px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    .c-sbi-filter__item-label {
      text-decoration: underline;
    }
  }
}
