DEPLOY_ENV=acceptance
IIIF_ROOT=https://acc.images.data.amsterdam.nl/
API_ROOT=https://acc.api.data.amsterdam.nl/
CMS_ROOT=https://acc.cms.data.amsterdam.nl/
GRAPHQL_ENDPOINT=https://acc.api.data.amsterdam.nl/cms_search/graphql/
ROOT=http://localhost:3000/
KEYCLOAK_URL=https://iam.amsterdam.nl/auth
KEYCLOAK_REALM=datapunt-ad-acc
KEYCLOAK_CLIENT=data-verkenner
