$backdrop-color: rgba(0, 0, 0, 0.5);

.c-dashboard {
  height: 100%;
  background: $primary-light;

  .styled-header {
    width: 100%;
    display: flex;
  }

  &--max-width {
    #header {
      max-width: 1800px;
      header {
        max-width: 1600px;
      }
    }
  }
}

.c-dashboard__heading {
  position: relative;
  height: $dashboard-heading-height;
  background-color: $primary-light;
  box-shadow: 0 $dashboard-heading-shadow-height $secondary-gray40;
}

.c-dashboard__body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - #{$dashboard-heading-height});
  z-index: $body-z-index;

  &--backdrop {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }
}
html:not(.is-print-mode) {
  .c-dashboard__column-holder,
  .c-dashboard__column {
    height: 100%;
    display: flex;
  }
}

.c-dashboard__content {
  background-color: $primary-light;
}

.c-dashboard__page {
  position: relative;
  min-height: 100%;
  background-color: $primary-light;
}

.c-dashboard__page-inner {
  padding-bottom: $dashboard-gutter-bottom;
}

.c-dashboard--max-width {
  background-color: $secondary-gray10;
}

.c-dashboard--full-height {
  overflow: hidden;

  .c-dashboard__body {
    overflow-y: hidden;
  }

  .c-dashboard__column {
    overflow-y: auto;
  }
}
