<div class="c-detail__block">
  <dp-glossary-header heading="{{ vm.apiData.results.subTitle }}" subtitle="{{ vm.apiData.results.title }}"></dp-glossary-header>
  <dp-panel
    ng-if="vm.apiData.results.notifications"
    ng-repeat="notification in vm.apiData.results.notifications"
    class-name="c-panel--offsets-below-page-title"
    is-panel-visible="true"
    can-close="notification.canClose || false"
    type="warning">
    {{ notification.value }}
  </dp-panel>
  <dp-panorama-thumbnail panorama="vm.previewPanorama" is-loading="vm.isPreviewPanoramaLoading"></dp-panorama-thumbnail>
  <ng-container ng-repeat="item in vm.apiData.results.items">
    <ng-container ng-if="item.type === 'heading'">
      <h2 class="o-header__subtitle qa-search-header">
        {{ item.value }}
      </h2>
      <br>
    </ng-container>

    <div ng-if="item.type === 'definition-list'" class="u-margin__bottom--2">
      <h3 ng-if="item.title" class="o-header__subtitle o-header__subtitle--dark">{{ item.title }}</h3>
      <dl class="c-key-value-list">
        <div class="c-key-value-item" ng-repeat="entry in item.entries">
          <dt>{{ entry.term }}</dt>
          <dd ng-if="!entry.link">{{ entry.description }}</dd>
          <dd ng-if="entry.link">
            <a
              class="o-btn o-btn--link c-key-value-list__value-inline"
              target="_blank"
              ng-href="{{ entry.link }}">
              {{ entry.description }}
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <ng-container ng-if="item.type === 'table' && item.values.length > 0">
      <h3 ng-if="item.label" class="o-header__subtitle qa-subtitle u-margin__bottom--1">
        {{ item.label }}
      </h3>
      <table class="c-table">
        <tr class="c-table__header-row">
          <th class="c-table__field c-table__header-field" ng-repeat="heading in item.headings">
            {{ heading.label }}
          </th>
        </tr>
        <tr class="c-table__content-row" ng-repeat="value in item.values">
          <td class="c-table__field c-table__content-field" ng-repeat="heading in item.headings">{{ value[heading.key] }}</td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</div>
