$dashboard-error-height: 32px;
$map-preview-panel-top: 8px;
$map-preview-panel-bottom: 16px + 34px + 2px + 34px + 10px;

@import 'components/detail-result/map-detail-result';
@import 'components/legend/map-legend';
@import 'components/map-embed-button/embed-button';
@import 'components/panel-handle/map-panel-handle';
@import 'components/search-results/map-search-results';
@import 'components/type/map-type';
@import 'components/leaflet/map-leaflet';
@import 'components/loading-indicator/LoadingIndicator';
@import 'components/draw-tool/draw-tool';
@import 'components/shape-summary/shape-summary';
@import 'components/points-available/points-available';
@import 'components/toggle-drawing/toggle-drawing';
@import 'containers/panel/map-panel';
@import 'containers/preview-panel/map-preview-panel';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';
