@import 'styles/utilities/fixed';
@import 'styles/utilities/full-height';
@import 'styles/utilities/gutter';
@import 'styles/objects/max-width';
@import 'styles/legacy/dashboard';
@import 'styles/legacy/active-filters';
@import 'styles/legacy/search-results';
@import 'styles/legacy/dcatd/dcatd-button';
@import 'styles/legacy/dcatd/datasets';
@import 'styles/legacy/data-selection/header/header';

.is-print-mode {
  @import 'styles/legacy/dashboard-print';
}

.is-embed {
  @import 'styles/legacy/dashboard-embed';
}

@import 'styles/legacy/dashboard-embed-preview';

.is-print-mode,
.is-embed-preview,
.is-embed {
  @import 'styles/utilities/page-break';
}
