$icon-height: 24px;

.o-btn {
  /*
  @name Button w/ link styling
  @markup
    <button class="btn btn--link">Lorem ipsum</button>
  */
  background-color: transparent;
  font-size: inherit;
  overflow: visible;
  text-align: left;
}

.o-btn--contrast {
  color: $primary-contrast;

  &:hover,
  &:focus {
    color: $secondary-gray60;
  }
}

%o-btn {
  background-color: $primary-light;
  color: $primary-dark;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: $bold-weight;
  height: $base-whitespace * 4;
  line-height: $base-whitespace * 4;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

%btn-close {
  position: absolute;
  right: 0;
  top: 0;
}

.s-btn--nested {
  margin-bottom: $base-whitespace !important;
  margin-top: $base-whitespace !important;
}
