//This is an extend so it can be used by both the anchor tag as well as buttons with .btn--link

// The size of the link arrow icon (relative to the font size)
$icon-size: 1.22em;
// The offset of the actual arrow inside the image from the left of the image
$icon-offset: 0.4em;
// Extra space between the link arrow icon and the link text
$link-offset: 3px;

%link {
  @include font-size($s-font);
  color: $primary-dark;
  cursor: pointer;
  display: inline-block;
  font-weight: $bold-weight;
  overflow: visible;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary-contrast;
    text-decoration: underline;
  }

  &:active {
    color: $primary-contrast;
  }
}

