$primary-light: #fff;
$primary-dark: #000;
$primary-contrast: #ec0000;
$primary-contrast-blue: #004699;

$secondary-gray80: #333;
$secondary-gray60: #666;
$secondary-gray40: #999;
$secondary-gray30: #ddd;
$secondary-gray20: #ccc;
$secondary-gray10: #eee;
$secondary-gray4: #f6f6f6;

$thema-1: #ff9100;
$thema-2: #ffe600;
$thema-4: #bed200;
$thema-6: #00a03c;
$thema-9: #009de6;
$thema-15: #e50082;

$red: #ec0000;
$dandelion: #ffe600;
$tangerine: #ff9100;
$dark-hot-pink: #e50082;
$red-violet: #a00078;
$darkish-blue: #004699;
$azure: #009de6;
$emerald: #00a03c;
$ugly-yellow: #bed200;
$white-two: #eee;
$pinkish-grey: #ccc;
$warm-grey: #767676;
$brownish-grey: #666;
$black: #000;
$white: #fff;
$white-four: #fafafa;
$black-two: #333;
$marigold: #ffc700;
$aquamarine: #00d2b4;
$turquoise-blue: #00b7cd;
$deep-green: #006827;
$deep-green-two: #004b1c;
