$icon-height: 20px;

.map-type {
  margin: 8px 8px 8px;

  @media screen and (min-width: $breakpoint-md) {
    margin: 12px 12px 12px;
  }

  &__title {
    font-size: $s-font-size;
    font-weight: $bold-weight;
    line-height: 1.25;
    margin: 8px 0;
  }

  &__select {
    display: inline-block;
    margin-bottom: 10px;
    min-width: 195px;
    width: 100%;

    @media screen and (min-width: $breakpoint-md) {
      width: calc(50% - 5px);
    }

    &--topography {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .is-embed &,
  .is-embed-preview &,
  .is-print-mode & {
    display: none;
  }
}

.icon {
  display: block;
  height: $icon-height;
  width: $icon-height;
}

.select-button:not(.enabled) {
  svg {
    fill: $secondary-gray60;
  }
}

.select-button__wrapper {
  background-color: $primary-light;
}

.select-button__icon-wrapper {
  background-color: $primary-light;
}
